{template 'common/header'}
<link rel="stylesheet" type="text/css" href="../addons/str_takeout/template/resource/css/main.css">
<script src="../addons/str_takeout/template/resource/js/dialog.js"></script>
<style type="text/css">
	.nav div{width:80%;}
	.nav a{width:30%;}
	.highlights {
    color: #ff5f32;
    padding-left: 10px;
    font-size: 16px;
    }
    .lights {
    padding-left: 10px;
    font-size: 16px;
    }
</style>
<div class="container">
	<header class="nav menu">
		<div>
			<a href="{php echo $this->createMobileUrl('myorders', array('status' => '', 'checked' => '', 'uid' => $uid))}" {if $checked == '' && $status == ''}class="on"{/if}>待审核</a>
			<a href="{php echo $this->createMobileUrl('myorders', array('status' => '2', 'uid' => $uid))}" {if $status == '2'}class="on"{/if}>收货单</a>
			<a href="{php echo $this->createMobileUrl('myorders', array('checked' => '1', 'uid' => $uid))}" {if $checked == '1'}class="on"{/if}>已完成</a>
			
		</div>
	</header>
	<section class="pay_wrap">
		<ul class="my_order">
			{if !empty($data)}
				{loop $data $row}
					<li>
					{if $row['billStatus'] == 2 && $row['checked'] == 1 && $status==2}
						<a href="{php echo $this->createMobileUrl('receipt', array('id' => $row['id'], 'uid' => $row['buId']))}">
				    {else}
				        <a href="{php echo $this->createMobileUrl('orderdetails', array('id' => $row['id'], 'uid' => $row['buId']))}">
				    {/if}
							<div>
								{if $row['billStatus'] == 0 && $row['checked'] == 0}
									<div class="ico_status pending"><i></i>待审核</div>
								{elseif $row['billStatus'] == 0 && $row['checked'] == 1 && $status==''}
									<div class="ico_status inhand"><i></i>已审核</div>
								{elseif $row['billStatus'] == 2 && $row['checked'] == 1 && $status==''}
									<div class="ico_status complete"><i></i>已完成</div>
								{elseif $row['billStatus'] == 2 && $row['checked'] == 1 && $status==2 && $row['receipts'] ==0}
									<div class="ico_status inhand"><i></i>收货单</div>
								{/if}
							</div>
							<div>
								<h3 style="font-size: 14px;">{$row['billNo']}</h3>
								<p>数量：{$row['totalQty']}<span {if $row['transType'] == '150602'}class="highlights"{else}class="lights"{/if}>{$row['transTypeName']}</span></p>
								<div>{$row['modifyTime']}</div>
							</div>
						</a>
					</li>

				{/loop}	
			{else}
				<li class="on-info"><i class="fa fa-info-circle"></i> 暂无订单</li>
			{/if}
		</ul>
	</section>	
	<div class="page">{$pager}</div>
	{template 'footerbar'}
</div>
<script type="text/javascript">
	document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
		WeixinJSBridge.call('hideOptionMenu');
	});
</script>
{template 'common'}
{template 'common/footer'}
