{template 'common/header'}
<link rel="stylesheet" type="text/css" href="../addons/str_takeout/template/resource/css/main.css">
<script src="../addons/str_takeout/template/resource/js/dialog.js"></script>
<style type="text/css">
	label{margin-bottom: 0;font-weight: normal;}
</style>
<div class="container">
	<section class="pay_wrap">
		
		<ul class="box pay_box" id="is_meal" {if $return || ($store['is_meal'] == 2)}style="display:none"{/if}>
			<li><label>确认信息</label></li>
			<li>
					<strong>名称：</strong>
					<span>
						<input class="txt" name="realname" placeholder="店名" id="realname" value="{$storeTitle}">
					</span>
			</li>
            <!-- <li> -->
                    <!-- <strong>手机号码：</strong> -->
                    <!-- <span> -->
                        <!-- <input class="txt" type="num" name="mobile" placeholder="手机号" id="mobile" value="{$member['mobile']}"> -->
                    <!-- </span> -->
            <!-- </li> -->
			<li>
					<strong>联系人：</strong>
					<span>
						<input class="txt" type="text" name="linkname" placeholder="联系人" id="linkname" value="{$realname}">
					</span>
			</li>
		
			<li>
					<!-- <strong>订单备注：</strong>
					<span>
						<textarea class="txt" style="height:50px" name="note" placeholder="订单备注" id="note_meal"></textarea>
					</span> -->
			</li>
		</ul>
		
	</section>
	<footer class="go_menu">
		<div class="fixed">
			<a id="submit_order" href="javascript:void(0);">提交订单</a>
		</div>
	</footer>
	{template 'footerbar'}
</div>

<script type="text/javascript">
	$(function(){
		var _timeBox = $('#timeBox'),
			_remarkBox = $('#remarkBox'),
			_tableBox = $('#tableBox'),
			_roomBox = $('#roomBox'),
			_dishBox = $('#dishBox'),
			_remarkInput = _remarkBox.find('textarea');

		$("#submit_order").click(function(){
			if(!$(this).hasClass('disabled')){
				$(this).addClass('disabled');
				// var order_type = $(':radio[name="order_type"]:checked').val();//店内、店外
				var order_type = 1;
				if(order_type == 1) {
					var wo_user_name = $.trim($("#realname").val());
					// var wo_receiver_mobile = $.trim($("#mobile").val());
					if(!wo_user_name) {
						alert('请填写店名');
						$(this).removeClass('disabled');
						return false;
					}
					// if(!wo_receiver_mobile || !/^.{5,20}$/gi.test(wo_receiver_mobile) || !/^(\+\s?)?(\d*\s?)?(?:\(\s?(\d+[-\s])?\d+\s?\)\s?)?\s?(\d+[-\s]?)+\d+$/gi.test(wo_receiver_mobile)) {
					// 	alert('请填写有效的手机号');
					// 	$(this).removeClass('disabled');
					// 	return false;
					// }
					var note = $.trim($('#note_meal').val());//备注
					var linkname = $.trim($('#linkname').val());//联系人
					// var table_num = $('#table_num').val();
					var param = {
						'order_type' :1,
						'username':wo_user_name,
						// 'mobile':wo_receiver_mobile,
						'person_num':linkname,
						// 'table_num':table_num,
						'note':note
						
					}
				}

				$.post("{php echo $this->createMobileUrl('orderconfirms', array('uid' => $uid,'status' => $status,'storeid' => $storeid,'prices' => $prices,'total' => $total));}", param, function(e){
					// console.log(e)
					if(e.errno == 0) {
						$("#submit_order").html('已提交');
						$("#submit_order").addClass('disabled');
						window.location.href = e.url;
						return false;
					}else{
				// console.log("1");
						alert(e.errno);
						$("#submit_order").removeClass('disabled');
					}
				},'json');
			}
			return false;
		});
	});
	document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
		WeixinJSBridge.call('hideOptionMenu');
	});
</script>
{template 'common'}
{template 'common/footer'}
