<link href="http://cdn.bootcss.com/weui/1.1.1/style/weui.min.css" rel="stylesheet">
<style>
body{background:#f8f8f8;}
.page__hd{padding: 5px 10px;}
.weui-grid{
      text-align: center;
}
.weui-check__label {
    font-size: 1.2em;
    font-weight: 700;
}

    .tui{text-decoration: line-through;color:#000;}
    #leng,#lou{display: none}
    .success{color:green;}
    .danger{color:red;} 
    td {
    border-bottom: 1px dashed #000;
}
.pull-righ{float: right}
</style>
   <!-- 自动刷新 -->
 <iframe src="{php echo $this->createMobileUrl('refeshlist', array('groupid'=>$_SESSION['pcate']), true)}"  style="width:0; height:0;  border: 0;"></iframe>
            <!-- 仅服务员可见 -->
        {if $_SESSION['pcate']==4}
        {/if}
        {if $newOrder['id']>0}
   
        {/if}
 <script>
function submitIds(id) {//fu
    var ids="0";　//创建一个数组
    var a = document.getElementsByName("r"); 
      for(var i=0;i<a.length;i++) 
      { 
        if(a[i].checked){ 
          ids +=","+a[i].getAttribute('id'); 
        } 
      }
  console.log(ids);
        var url = "{php echo $this->createMobileUrl('operadetail', array(), true)}" + "&ids=" + ids+"&stepnow=4";
        console.log(url);
    window.location.href = url;
}

function submitIds2(id) { //pei,leng,zhu
    var ids="0";　//创建一个数组
    var a = document.getElementsByName("r"); 
      for(var i=0;i<a.length;i++) 
      { 
        if(a[i].checked){ 
          ids +=","+a[i].getAttribute('id'); 
        } 
      }
  console.log(ids);
     {if $revoke==1}//退
        var url = "{php echo $this->createMobileUrl('operadetail', array(), true)}" + "&ids=" + ids+"&stepnow=2";
        {else}
        var url = "{php echo $this->createMobileUrl('operadetail', array(), true)}" + "&ids=" + ids+"&stepnow=0";
               {/if}
        console.log(url);
    window.location.href = url;
}
function go_reminder(id,storeid,tablesid) {
    window.location.href = "{php echo $this->createMobileUrl('reminder', array(), true)}" + "&orderid=" + id+"&storeid=" + storeid+"&tablesid=" + tablesid;
}
</script>
