<html ng-app="diandanbao" class="ng-scope"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}</style>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta content="telephone=no" name="format-detection">
<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
<meta content="production" name="env">
<title>鱼</title>
<link data-turbolinks-track="true" href="{RES}/mobile/{php echo $this->cur_tpl}/assets/diandanbao/weixin.css?v=1" media="all" rel="stylesheet">
<!--<link data-turbolinks-track="true" href="../addons/weisrc_dish/template//mobile/style1/assets/diandanbao/weixin.css" media="all" rel="stylesheet">-->
<style type="text/css">@media screen{.smnoscreen {display:none}} @media print{.smnoprint{display:none}}</style></head>
<body>

<div ng-view="" style="height: 100%;" class="ng-scope">
    <div class="ddb-nav-header ng-scope" common-header="">
        <!-- <div class="nav-left-item"  onclick="javascript :history.back(-1);"><i class="fa fa-angle-left"></i></div> -->
        <a class="nav-left-item" href="{php echo $this->createMobileUrl('orderall', array(), true)}"><div class="operation-button red">查看所有</div></a>
        <div class="header-title ng-binding">鱼</div>
       
        <!--<a class="nav-right-item" href="{php echo $this->createMobileUrl('adminorder', array(), true)}">
            <div class="operation-button red"><i class="fa fa-qrcode"></i>扫一扫</div>
        </a> -->
        <a class="nav-right-item" href="{php echo $this->createMobileUrl('logout', array(), true)}">
            <div class="operation-button red">退出</div>
        </a>
       
    </div>

    <!-- 底部菜单 -->
    {php include $this->template($this->cur_tpl.'/_menu2');}


    <div class="orders-index-page main-view ng-scope" id="delivery-orders-index">
 {php include $this->template($this->cur_tpl.'/_menu3');}
        {loop $list $items}
        <div class="space-12"></div>
        <div class="order-item section {$items['status']} ng-scope">

            <a class="list-item">
                <div class="time ng-binding">下单时间：{php echo date('Y-m-d H:i:s',$items['dateline'])}</div>
            </a>
            {if $_SESSION['pcate']==3}
            <a class="list-item" onclick="go_detail({$items['id']},{$items['storeid']},{$items['tablesid']},{$items['stepnow']})">
            {else}
            <a class="list-item">
            {/if}
                <div class="branch-image" style="width:70px;float:left;margin-right:10px;height:50px;overflow:hidden">
                    <img src="../attachment/{$items['thumb']}" width="100%">
                </div>
                <div class="name ng-binding">{$items['title']}{if $items['flavor']!=""}({$items['flavor']}){/if} * {$items['total']} {$items['unitname']}</div>
                <div class="variants overflow-ellipsis ng-binding">
                    {$items['sortname']} - {$items['tablesname']} 桌位
                </div>
            </a>
            <div class="list-item" style="margin-top: 15px;">
                <div class="total-amount ng-binding"><span class="amount-label">金额：</span>￥{$items['totalprice']}</div>
                <div class="operation" >
                    <span class="button ng-binding ng-scope" style="color:#ff0000;" onclick="go_reminder({$items['id']},{$items['storeid']},{$items['tablesid']})">催  菜</span>
                    <span class="button  ng-binding ng-scope" style="color:#28a267;">{if $items['stepnow']==0}称鱼{elseif $items['stepnow']==1}杀鱼{elseif  $items['stepnow']==2}腌鱼{elseif $items['stepnow']==3}煮鱼{elseif $items['stepnow']==4}配送{elseif $items['stepnow']==5}上桌{/if}</span>
                </div>
                <div class="space"></div>
            </div>
        </div>
        {/loop}
    </div>
</div>
<script>
function jump(status) {
    window.location.href = "{php echo $this->createMobileUrl('order', array(), true)}" + "&status=" + status;
}
function go_detail(id,storeid,tablesid,stepnow) {
    window.location.href = "{php echo $this->createMobileUrl('operadetail', array(), true)}" + "&orderid=" + id+"&storeid=" + storeid+"&tablesid=" + tablesid+"&stepnow=" + stepnow;
}
function go_reminder(id,storeid,tablesid) {
    window.location.href = "{php echo $this->createMobileUrl('reminder', array(), true)}" + "&orderid=" + id+"&storeid=" + storeid+"&tablesid=" + tablesid;
}

// function now(){
//     window.location.reload();
// }
// window.setTimeout(now,3000);

</script>
</body>
</html>
