<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{$reply['title']}</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
	<link rel="stylesheet" href="../images/css/mui.min.css">
	<link rel="stylesheet" href="../images/css/custom.css">

    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>微投票</title>
    {php echo register_jssdk();}
    <link type="text/css" rel="stylesheet" href="../addons/ewei_vote/style/vote.css"/>
    <script type="text/javascript" src="../addons/ewei_vote/style/js/jquery.js"></script>
    <script type="text/javascript" src="../addons/ewei_vote/style/js/alert.js"></script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript">
        // 微投票分享
        wx.ready(function () {
            sharedata = {
                title: "{$sharetitle}",
                desc: "{$sharedesc}",
                link: "{$sharelink}",
                imgUrl: "{$shareimg}"
            };
            wx.onMenuShareAppMessage(sharedata);
            wx.onMenuShareTimeline(sharedata);
        });

        var votetype = "{$reply['votetype']}";
        function divClick(obj) {
            obj = $(obj);
            if (votetype == '0') {
                //单选
                $(".oimg").show();
                $(".oimg-sel").hide();
                $(".option").attr("sel", "false");
            }
            var sel = obj.attr("sel");
            if (sel == "false") {
                obj.attr("sel", "true");
                $(".oimg-sel", obj).show();
                $(".oimg", obj).hide();
            }
            else {
                obj.attr("sel", "false");
                $(".oimg-sel", obj).hide();
                $(".oimg", obj).show();
            }
        }
        function submit() {
	//	alert('ddd');
			var len = $("input:checkbox:checked").length; 
			if(len<8){ 
			alert('至少要选够八支球队才能提交！'); 
			return false;} 
		
            var ids = "";
            $(".option").each(function () {
                if ($(this).attr("sel") === "true") {
                    if (ids !== "") {
                        ids += ",";
                    }
                    ids += $(this).attr("val");
                }
            });
			/** **/
			$("input:checkbox[name=checkbox1]:checked").each(function () {
                    if (ids !== "") {
                        ids += ",";
                    }
                    ids += $(this).val();
              
            });
			console.log('ddd')
			console.log(ids);
            if (ids == '') {
                alert('请选择投票选项!');
                return;
            }
            $.ajax({
                url: "{$_W['siteroot']}app/{php echo $this->createMobileUrl('submit', array('id' => $rid))}",
                data: {
                    ids: ids,
                    id: "{$rid}"
                },
                beforeSend: function () {
                    $(".submit").attr("disabled", "true");
                },
                success: function (data) {
                    if (data != '') {
                        alert(data);
                        return;
                    }
                    alert("投票成功!");
                    $(".submit").removeAttr("disabled");
                    setTimeout(function () {
                        location.href = "{$_W['siteroot']}app/{php echo $this->createMobileUrl('result', array('id' => $rid))}";
                    }, 500);
                },
                error: function () {
                },
                timeout: 15000
            });
        }
    </script>
</head>
<body>
<div class="wrapper" style="margin-top:-8px;">
    <img class="bg" src="../addons/ewei_vote/style/images/bg.jpg">
    <input type='hidden' name='select_id'/>
    <!-- <div class="top fn-clear">
        <div class="title-cont">
            <p class="title"></p>
            <p class="timeout" style='padding-left:15px;'>
                <img class="clock" src="../addons/ewei_vote/style/images/clock.png">
                <span class="text">{$limits}</span>
            </p>
            <p>&nbsp;</p>
        </div>
    </div> -->
  
   <style type="text/css">
	.hidden{display:none;}
html, body {
    height: auto;
    position: relative;
}
   </style>
    {if $isshare == 1}
    <div class="summary">参与方法:</div>
    <div class="tip-cont">{php echo htmlspecialchars_decode($reply['share_txt'])}</div>
    {else}
    <div class="summary ">{$reply['description']}</div>
    <div class="tip-cont hidden">
        <img class="icon" src="../addons/ewei_vote/style/images/tip_icon.png">
        提交后才能看到结果 ( {$selects} {if !empty($reply['votetimes'])}),
        {/if}
    </div>
    <div class="option-cont hidden">
        {loop $list $row}
        <div class="option hidden" val="{$row['id']}" onclick="divClick(this)" sel="false">
            {if !empty($row['thumb']) && $reply['isimg']==1}
            <div>
                <image src="../images/{php echo tomedia($row['thumb'])}" style="width:95%;margin:10px;"/>
            </div>
            {/if}
            <img id="img{$row['id']}" class="oimg" src="../addons/ewei_vote/style/images/checkimg.png">
            <img id="img{$row['id']}_sel" class="oimg-sel" src="../addons/ewei_vote/style/images/checkimg_check.png">
            <div>{$row['title']}</div>
        </div>
        <img class="sep" src="../addons/ewei_vote/style/images/option_sep.jpg">
        {/loop}
    </div>

    <p class="page-url"></p>


	<header class="mui-bar mui-bar-nav">
	    <a class="mui-action-back mui-icon mui-pull-left"></a>
	    <h1 class="mui-title">坐夜酒馆·{$reply['title']}</h1>
	</header> 
	<div class="mui-content">
	<div class="speak">
		<p class="s11"><img src="http://7xoatu.com1.z0.glb.clouddn.com/o_1ajr18fec1t1kscn17t91kbq80ba.jpg"></img></p>
		<p class="s1">四年一度</p>
		<p class="s2">全球瞩目</p>
		<p class="s3">球迷沸腾</p>
		<p class="s4">6月10日</p>
		<p class="s5">欧洲豪强相聚法国</p>
		<p class="s6">2016欧洲杯即将开幕</p>
		<p class="s7"><img src="http://7xoatu.com1.z0.glb.clouddn.com/o_1ajr180nr1g7honv659c9r142sa.jpg"></img></p>
		<p class="s8">这个夏天</p>
		<p class="s9">欧罗巴再掀足球风暴</p>
		<p class="s10">全球球迷为之疯狂</p>
	</br>
	</div>

		<!-- award -->
		<div class="mui-content">
		<p><h5>竞猜奖品</h5></p>
		<p class="no">一等奖: (猜中8强球队) </p><p>奖励德国原装进口格鲁特啤酒100打,若多人中奖则均分奖池奖品。</p>
		<img src="http://7xoatu.com1.z0.glb.clouddn.com/o_1ajor0f9qmqq102g35o156kjd3a.jpg" style="width:100%;height:100%;"></br>
		<p class="no">二等奖: (猜中7强球队) </p><p>均获得价值328元的天鹅庄孔雀V20赤霞珠干红一支。</p>
		<img src="http://7xoatu.com1.z0.glb.clouddn.com/o_1ajorekfu3t9mtv1rr51os6p93a.jpg" style="width:100%;height:100%;"></br>
		<p class="no">三等奖: (猜中6强球队) </p><p>均获得德国格鲁特啤酒礼品套装一份(内含4听啤酒)。</p>
		<img src="http://7xoatu.com1.z0.glb.clouddn.com/o_1ajorhbne13k41hl110sm1dn96t6a.jpg" style="width:100%;height:100%;"></br>
		<p class="no">幸运奖: (猜中5强球队) </p>
		<p>1、均获得坐夜民族文化餐酒馆100元代金券一张。</p>
		<p>2、双城记主题餐厅100元代金券一张。</p>
		<p>3、味之坊“十三香”小龙虾券一张(免费吃虾两斤,价值98元)。</p>
		<img src="http://7xoatu.com1.z0.glb.clouddn.com/o_1ajork1gjh6s16516cd12tc126da.jpg" style="width:100%;height:100%;"></br>
		<!-- End -->

		<!-- Group 1 -->
		<div class="mui-content">
	    <h5>A组</h5>
		    <ul class="mui-table-view mui-grid-view">
		        <li class="mui-table-view-cell mui-media mui-col-xs-3">		            
		                <label for="g1-1"><span class="fr"></span></label>
		                <div class="mui-media-body"><input name="checkbox1" id="g1-1" value="8" type="checkbox"><label for="g1-1">法国</label></div></a></li>
		        <li class="mui-table-view-cell mui-media mui-col-xs-3">		            
		                <label for="g1-2"><span class="ro"></span></label>
		                <div class="mui-media-body"><input name="checkbox1" id="g1-2" value="9" type="checkbox"><label for="g1-2">罗马尼亚</label></div></a></li>
		        <li class="mui-table-view-cell mui-media mui-col-xs-3">
		                <label for="g1-3"><span class="alb"></span></label>
		                <div class="mui-media-body"><input name="checkbox1" id="g1-3" value="10" type="checkbox"><label for="g1-3">阿尔巴尼亚</label></div></a></li>
		        <li class="mui-table-view-cell mui-media mui-col-xs-3">		            
		                <label for="g1-4"><span class="sw"></span></label>
				<div class="mui-media-body">
				<input name="checkbox1" id="g1-4" value="11" type="checkbox"><label for="g1-4">瑞士</label></div></a></li>
		    </ul>    
		</div>
		<!-- End -->

		<!-- Group 2 -->
		<div class="mui-content">
		    <h5>B组</h5>
		    <ul class="mui-table-view mui-grid-view">
		        <li class="mui-table-view-cell mui-media mui-col-xs-3">		            
		                <label for="g2-1"><span class="eng"></span></label>
		                <div class="mui-media-body"><input name="checkbox1" id="g2-1" value="12" type="checkbox"><label for="g2-1">英格兰</label></div></a></li>
		        <li class="mui-table-view-cell mui-media mui-col-xs-3">		            
		                <label for="g2-2"><span class="ru"></span></label>
		                <div class="mui-media-body"><input name="checkbox1" id="g2-2" value="13" type="checkbox"><label for="g2-2">俄罗斯</label></div></a></li>
		        <li class="mui-table-view-cell mui-media mui-col-xs-3">
		               <label for="g2-3"><span class="wl"></span></label>
		                <div class="mui-media-body"><input name="checkbox1" id="g2-3" value="14" type="checkbox"><label for="g2-3">威尔士</label></div></a></li>
		        <li class="mui-table-view-cell mui-media mui-col-xs-3">		            
		                <label for="g2-4"><span class="sl"></span></label>
		                <div class="mui-media-body"><input name="checkbox1" id="g2-4" value="15" type="checkbox"><label for="g2-4">斯洛伐克</label></div></a></li>
		    </ul>    
		</div>
		<!-- End -->

		<!-- Group 3 -->
		<div class="mui-content">
		    <h5>C组</h5>
		    <ul class="mui-table-view mui-grid-view">
		        <li class="mui-table-view-cell mui-media mui-col-xs-3">
		                <label for="g3-1"><span class="de"></span></label>
		                <div class="mui-media-body"><input name="checkbox1" id="g3-1" value="16" type="checkbox"><label for="g3-1">德国</label></div></a></li>
		        <li class="mui-table-view-cell mui-media mui-col-xs-3">
		                <label for="g3-2"><span class="ur"></span></label>
		                <div class="mui-media-body"><input name="checkbox1" id="g3-2" value="17" type="checkbox"><label for="g3-2">乌克兰</label></div></a></li>
		        <li class="mui-table-view-cell mui-media mui-col-xs-3">
			     <label for="g3-3"><span class="po"></span></label>
		                <div class="mui-media-body"><input name="checkbox1" id="g3-3" value="18" type="checkbox"><label for="g3-3">波兰</label></div></a></li>
		        <li class="mui-table-view-cell mui-media mui-col-xs-3">
		                <label for="g3-4"><span class="ni"></span></label>
		                <div class="mui-media-body"><input name="checkbox1" id="g3-4" value="19" type="checkbox"><label for="g3-4">北爱尔兰</label></div></a></li>
		    </ul>    
		</div>
		<!-- End -->

		<!-- Group 4 -->
		<div class="mui-content">
		    <h5>D组</h5>
		    <ul class="mui-table-view mui-grid-view">
		        <li class="mui-table-view-cell mui-media mui-col-xs-3">
		                <label for="g4-1"><span class="sp"></span></label>
		                <div class="mui-media-body"><input name="checkbox1" id="g4-1" value="20" type="checkbox"><label for="g4-1">西班牙</label></div></a></li>
		        <li class="mui-table-view-cell mui-media mui-col-xs-3">
		                <label for="g4-2"><span class="cz"></span></label>
		                <div class="mui-media-body"><input name="checkbox1" id="g4-2" value="21" type="checkbox"><label for="g4-2">捷克</label></div></a></li>
		        <li class="mui-table-view-cell mui-media mui-col-xs-3">
			     <label for="g4-3"><span class="tu"></span></label>
		                <div class="mui-media-body"><input name="checkbox1" id="g4-3" value="22" type="checkbox"><label for="g4-3">土耳其</label></div></a></li>
		        <li class="mui-table-view-cell mui-media mui-col-xs-3">
		                <label for="g4-4"><span class="cr"></span></label>
		                <div class="mui-media-body"><input name="checkbox1" id="g4-4" value="23" type="checkbox"><label for="g4-4">克罗地亚</label></div></a></li>
		    </ul>    
		</div>
		<!-- End -->

		<!-- Group 5 -->
		<div class="mui-content">
		    <h5>E组</h5>
		    <ul class="mui-table-view mui-grid-view">
		        <li class="mui-table-view-cell mui-media mui-col-xs-3">
		                <label for="g5-1"><span class="be"></span></label>
		                <div class="mui-media-body"><input name="checkbox1" id="g5-1" value="24" type="checkbox"><label for="g5-1">比利时</label></div></a></li>
		        <li class="mui-table-view-cell mui-media mui-col-xs-3">
		                <label for="g5-2"><span class="it"></span></label>
		                <div class="mui-media-body"><input name="checkbox1" id="g5-2" value="25" type="checkbox"><label for="g5-2">意大利</label></div></a></li>
		        <li class="mui-table-view-cell mui-media mui-col-xs-3">
			      <label for="g5-3"><span class="ir"></span></label>
		                <div class="mui-media-body"><input name="checkbox1" id="g5-3" value="26" type="checkbox"><label for="g5-3">爱尔兰</label></div></a></li>
		        <li class="mui-table-view-cell mui-media mui-col-xs-3">
		                <label for="g5-4"><span class="sd"></span></label>
		                <div class="mui-media-body"><input name="checkbox1" id="g5-4" value="27" type="checkbox"><label for="g5-4">瑞典</label></div></a></li>
		    </ul>    
		</div>
		<!-- End -->

		<!-- Group 6 -->
		<div class="mui-content">
		    <h5>F组</h5>
		    <ul class="mui-table-view mui-grid-view">
		        <li class="mui-table-view-cell mui-media mui-col-xs-3">				
		                <label for="g6-1"><span class="pu"></span></label>
		                <div class="mui-media-body"><input name="checkbox1" value="28" id="g6-1" type="checkbox"><label for="g6-1">葡萄牙</label></div></a></li>
		        <li class="mui-table-view-cell mui-media mui-col-xs-3">				
		                <label for="g6-2"><span class="il"></span></label>
		                <div class="mui-media-body"><input name="checkbox1" value="29" id="g6-2" type="checkbox"><label for="g6-2">冰岛</label></div></a></li>
		        <li class="mui-table-view-cell mui-media mui-col-xs-3">
				<label for="g6-3"><span class="au"></span></label>
		                <div class="mui-media-body"><input name="checkbox1" value="30" id="g6-3" type="checkbox"><label for="g6-3">奥地利</label></div></a></li>
		        <li class="mui-table-view-cell mui-media mui-col-xs-3">				
		                <label for="g6-4"><span class="hu"></span></label>
		                <div class="mui-media-body"><input name="checkbox1" value="31" id="g6-4" type="checkbox"><label for="g6-4">匈牙利</label></div></a></li>
		        <li class="mui-table-view-cell mui-media mui-col-xs-3">	
		    </ul>    
		</div>
				<div class="go">
				<a type="button" id="reset" class="mui-btn mui-btn-danger mui-btn-block">重选</a>
				<a type="button" id="ok"   onclick="submit()" class="mui-btn mui-btn-success mui-btn-block">提交</a>
	</div>
		<!-- End -->
		<div class="mui-content">
			<p><h5>竞猜规则</h5></p>
			<p>1、参与投票者请关注“坐夜民族文化餐酒馆”微信公众号即可参与投票。</p>
			<p>2、本人投票后并邀请朋友参与，可免费获得价值170元的”德国原装进口啤酒—格鲁特啤酒”精美礼盒套装一份（内含4听啤酒）。仅限酒馆内饮用，不可打包带走，每晚每桌限领一份。（7月31日前凭手机转发记录都可获取，每台手机限领一份。）</p>
			<p>3、本次”2016欧洲杯8强竞猜活动“截止时间为2016年6月15日23时59分，超时投票无效。</p>
			<p>4、2016欧洲杯比赛日期间，坐夜民族文化餐酒馆每晚都将现场送出欧洲杯参赛国正版球衣及欧洲杯精美纪念品。</p>
			<p>5、凡持坐夜民族文化餐酒馆会员卡到柏翠酒业购买各类酒水，均可享受VIP待遇折扣优惠。（特别鸣谢柏翠酒业的大力支持。）</p>
			<p>6、本活动最终解释权归本“坐夜民族文化餐酒馆”所有。</p>



		<div class="award">
		<img src="../images/img/list.jpg">
		<img src="http://7xoatu.com1.z0.glb.clouddn.com/o_1ajr0hl3l1v0dcv114kc18c9j5qa.jpg">
		<img src="../images/img/cloths.jpg">
		<img src="http://7xoatu.com1.z0.glb.clouddn.com/o_1ajr2ufnra6l1sng1br0vkc1431a.jpg">
		</div>

    {/if}
	<script>
		$(function () {
			$("#reset").click(function(){ 
			$("input[name='checkbox1']").removeAttr("checked"); 
			});
		});

	        var aRadio=document.getElementsByTagName('input');
	        for(var i=0;i<aRadio.length;i++)
	        {
	             
	            aRadio[i].onclick=function()
	            {
	                var n=0;
	                for(var j=0;j<aRadio.length;j++)
	                {
	                    if(aRadio[j].checked)
	                    {
	                        n++;
	                    }
	                }
	                if(n>8)
	                {
	                    this.checked=false;
	                    alert('出错啦，不能选择超过八支球队！')                
	                }
	            }
	        }
	</script>

 </body>
</html>
